@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    
    animation-name: intro;
    animation-duration: 1.5s;
    /*background-image: url(Stars\ \(2\).jpg);*/
    background: linear-gradient(purple, blue) no-repeat;
    min-height: 100vh;
    background-size:cover;
    font-family: "Roboto", sans-serif;

}
@keyframes intro{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#Header{
    background-color: steelblue;
    text-align: center;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
    
}
#newHeader{
    margin-top:100px;
    text-align: center;
    color:white;
    font-size: 50pt;
    font-weight: lighter;
    
}
#subtext{
    text-align: center;
    color:white;
    font-size: 20pt;
    font-weight: lighter;
}
#text{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
    font-size: 15pt;
    font-weight: lighter;
}

#links{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    padding-top:8px;
    padding-bottom: 5px;
    
    
}

a{
    color:white;
    font-size: 15pt;
    padding:5px;
    border:2px solid ;
    border-color: rgba(0,0,0,0);
    border-radius:10px;
    transition: 0.5s;
    white-space: nowrap;
    margin-bottom: 10px;
    
    
}
a:hover{
    color:white;
    text-decoration:none;
    border-color: white;
    padding:5px;
    margin-bottom: 10px;
    
}
img{
    display: block;
    width: 50%;
    height: 50%;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    border:3px solid white;
    border-radius: 50%;
}
iframe{
    display: block;
    width:50%;
    height:60%;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    margin-bottom:20px;
    border:3px solid white;
    border-radius: 10px;
}

#title{
    display: block;
    text-align: center;
    color:white;
    background-color: darkslategrey;
    font-size: 50pt;
    font-weight:bold;
    border: 2px solid white;
    margin-top:20px;
    margin-bottom: 20px;
    padding-bottom: 20px;;
    border-radius: 50px;
    width: auto;

}
#contents{
    color:white;
    font-size: 15pt;
    background-color: darkcyan;
    border: 2px solid white;
    border-radius:5px;
    margin-top:20px;
}
video{
    display: block;
    width:100%;
    height:50%;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    margin-bottom:20px;
    border:3px solid white;
    border-radius: 10px;
}